// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//////devise

#collector_devise{
  text-align: center;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}
  #collector_devise h2{
    padding-top: 20px;
    font-size: 30px;
  }
  #collector_devise .field{
    margin: 10px;
  }
    #field input{
      width: 200px;
      height: 15px;
      text-align: center;
    }
  #collector_devise .actions{
    margin: 10px;
  }
    .actions input{
      background-color: red;
      color: white;
      font-size: 15px;
      width: 80px;
      height: 25px;
      border-radius: 50px;
    }

////////app
.App{
  padding: 0;
  margin: 0;
  height:1000px;
}
  .main{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
    padding-bottom: 50px;
    border-style: none solid solid solid;
    border-width: 1px 1px 6px;
    border-color: #dedede #dedede red;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.02),
      0 29px 21px -20px rgba(0, 0, 0, 0.14);
  }
  .dateTime{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
  }


/////////home
.Home{

}




/////////nav
.Nav{
  height:50px;
  width: 100%;
  background-color: red;
  padding:10px;
  position: fixed;
  top:0;
  z-index: 99;
}
  .Nav a{
    margin: 10px;
    text-decoration: none;
    color: black;
    float: right;
  }
    .Nav a:hover{
      color: white;
    }
    .Nav #signInOut{
      float: left;
    }
  #myaccountsBtn{
    margin-right: 30px;
  }



//////accounts
.Accounts{

}
  .Accounts .Debter{
    background-color: #bdbebf;
    margin-bottom: 10px;
  }
    .Debter h4{
      margin-left: 10px;
      margin-top: 25px;
    }
    .Accounts .Debter .debterInfo{
      display: grid;
      grid-template-columns: 25px auto auto auto;
      grid-template-rows: auto;
      grid-template-areas:
      ". firstname lastname ssn"
      ". phonenumbers addresses sum"
      ". accountCollapse . .";
    }
      .Debter .firstname{
        display: flex;
        grid-area: firstname;
      }
      .Debter .lastname{
        display: flex;
        grid-area: lastname;
      }
      .Debter .ssn{
        display: flex;
        grid-area: ssn;
      }
      .Debter .phonenumbers{
        grid-area: phonenumbers;
      }
        .phonenumbers .phoneNumber{
          margin: 10px;
        }
        .phonenumbers button{
          opacity: 0;
        }
        .phonenumbers:hover button{
          opacity: 1;
        }
      .Debter .addresses{
        grid-area: addresses;
      }
        .addresses .address{
          margin: 10px;
        }
        .addresses button{
          opacity: 0;
        }
        .addresses:hover button{
          opacity: 1;
        }
      .Debter .sum{
        grid-area: sum;
        position: relative;
      }
        .Debter .sum h2{
          bottom: 0;
          right: 0;
          position: absolute;
          margin-right: 25px;
        }
      .Debter .accountCollapse{
        grid-area: accountCollapse;
        border-style: none;
        background-color: #bdbebf;
        cursor: pointer;
        outline: none;
        text-align: left;
      }

    .accountEven{
      background-color: white;
      display: grid;
      grid-template-columns: 10px auto auto auto 200px;
      grid-template-rows: 100px 50px;
      grid-template-areas:
      ". number holder holder reply"
      ". commentButton . . balance";
    }
      .accountEven .accountNumber{
        grid-area: number;
      }
      .accountEven .accountHolder{
        grid-area: holder;
      }
      .accountEven .commentButton{
        grid-area: commentButton;
      }
        .accountEven .commentButton button{
          border-style: none;
          background-color: white;
          cursor: pointer;
          outline: none;
          text-align: left;
        }

      .accountEven .accountBalance{
        grid-area: balance;
        text-align: right;
        margin-right: 20px;
      }
    .accountOdd{
      background-color: #e3e3e3;
      display: grid;
      grid-template-columns: 10px auto auto auto 200px;
      grid-template-rows: 100px 50px;
      grid-template-areas:
      ". number holder holder reply"
      ". commentButton . . balance";
    }
      .accountOdd .accountNumber{
        grid-area: number;
      }
      .accountOdd .accountHolder{
        grid-area: holder;
      }
      .accountOdd .commentButton{
        grid-area: commentButton;
      }
        .accountOdd .commentButton button{
          border-style: none;
          background-color: #e3e3e3;
          cursor: pointer;
          outline: none;
          text-align: left;
        }

      .accountOdd .accountBalance{
        grid-area: balance;
        text-align: right;
        margin-right: 20px;
      }
    .comment{
      border-bottom: solid;
      display: grid;
      grid-template-columns: 10px auto auto auto;
      grid-template-rows: 50px 20px auto;
      grid-template-areas:
      ". date time collectorId"
      ". note . ."
      ". string string string";
    }
      .comment .date{
        grid-area: date;
      }
      .comment .time{
        grid-area: time;
      }
      .comment .collectorId{
        grid-area: collectorId;
      }
      .comment .note{
        grid-area: note;
      }

      .comment .commentString{
        grid-area: string;
      }
      .comment p{
        margin-left: 10px;
      }
      .comment h3{
        margin-left: 10px;
        margin-right: 10px;
      }

///////post
.noreplydiv{
  grid-area: reply;
}
  .accountOdd .noreplydiv button{
    border-style: none;
    background-color: #e3e3e3;
    cursor: pointer;
    outline: none;
    text-align: left;
  }
  .accountEven .noreplydiv button{
    border-style: none;
    background-color: white;
    cursor: pointer;
    outline: none;
    text-align: left;
  }
.replydiv{
  height: 100000%;
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(1, 1, 1, .7);
}
  .accountOdd .replydiv button{
    border-style: none;
    background-color: #e3e3e3;
    cursor: pointer;
    outline: none;
    text-align: left;
  }
  .accountEven .replydiv button{
    border-style: none;
    background-color: white;
    cursor: pointer;
    outline: none;
    text-align: left;
    position: fixed;
  }
  .noreply{
    height: 0;
    opacity: 0;
  }
  .reply{

  }
    .reply .main{
      margin-right: 50px;
      margin-left: 50px;
      position: fixed;
      width: 90%;
    }
      .reply .main h2{
        margin: 20px;
      }
      .reply .main .commentString{
        height: 250px;
        width: 75%;
        resize: none;
        margin: 30px;
        box-shadow: 0 0 10px #719ECE;
        font-size: 20px;
      }
      .reply .main .payment{
        height: 30px;
        width: 50%;
        resize: none;
        margin: 30px;
        box-shadow: 0 0 10px #719ECE;
        font-size: 20px;
      }
      .reply .main input{
        background-color: red;
        cursor: pointer;
        border-radius: 50px;
        font-weight: bold;
        width: 100px;
        height: 40px;
      }
      .reply .main input:focus{
        background-color: red;
        border-radius: 50px;
        font-weight: bold;
        width: 100px;
        height: 40px;
        transform: translateY(5px);
        outline: none;
      }

////AddInfo
.AddInfo{
  height: 100000%;
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(1, 1, 1, .7);
}
